.navegador{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  
    text-align: center;
    margin-bottom: 0;  
   
    
  }
  .boxNavegador{
    height: 30px;
    background-color: black;
    font-size: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    color: blanchedalmond;
  }
a{
    color:white;
}
.logok{
  height: 70px;
  padding-bottom:10px;
}

.lista{
  border: 1px solid black;

}
nav{
  background-color: darkcyan;
}
.carticon{
 color:darkred;
font-size: 40px;
}

.boxContador{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1%;  
  padding: 5px;
  background-color: rgb(28, 70, 83);
  color:rgb(17, 17, 17);
  margin-right: 20%;
 
  width: 350px;
  height: 150px;
}

.botContar{
  height: 30px;
    background-color: black;
    font-size: 18px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    color: darkturquoise;
    margin-left: 20px;
    margin-right: 20px;
}
.boxItem{
  border: 1px solid red;
  width: 250px;
  

}
.fotProduct{
  height: 150px;
}
.boxProductos{
  display: flex;
  flex-direction: row;
}
.boxDetalle{
  border: 1px solid rgb(25, 0, 255);
  width: 250px;
  justify-content: initial;
}