*{margin: 0;
padding: 0;}
.cajaGigante {
  height: 1000px;
  font-size: 30px;
text-align: center;
}

.body{
  background-color: #282c34;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navegador{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  
    text-align: center;
    margin-bottom: 0;  
  }

  a{
    text-decoration: none;
    color:white;
  }
  h1{
    text-align: center;
    font-size: 45px;
    color: rgb(212, 179, 171);
    font-family:cursive;
    font-kerning: initial;
  }
  .boxNavegador{
    margin-top: 20px;
    height: 20px;
    background-color: black;
    font-size: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    color: blanchedalmond;
  }


.logok{
  height: 70px;
  padding-bottom:10px;
}

.lista{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 150px;
  font-size: 25px;
  font-weight: bold;

}
nav{
  background-color: darkcyan;
}
.carticon{
 color:rgb(14, 13, 13);
font-size: 50px;
margin-top: 13px;
}
.cantItems{
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-left:39px;
  margin-top: -25px;
  border-radius: 500px;
  background-color: red;
}
.boxCarrito{
  height: 45px;
}
.boxContador{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(28, 70, 83);
  color:rgb(17, 17, 17);
  width: 450px;
  height: 60px;
  border: 1px solid rgb(28, 70, 83);
}

.botContar{
  height: 30px;
    background-color: black;
    font-size: 22px;
    padding-left:  5px;
    padding-right:  5px;
    border: 2px solid black;
    border-radius: 10px;
    color: darkturquoise;
    margin-left: 20px;
    margin-right: 20px;
}
.botAgregar{
  height: 30px;
  width: 445px;
  background-color: rgb(109, 107, 107);
  font-size: 20px;

  
  color: blanchedalmond;
}
.fotProduct{
  height: 150px;
}
.boxProductos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}
.boxItem{
  border: 1px solid red;
  text-align: center;
  width: 20%;
  height: 30%;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 15px;
}
.boxDetalle{
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(25, 0, 255);
  width: 450px;
  justify-content: space-between;
  align-items: center;

}
.found{
  color: rgb(248, 238, 238);
  font-size: 30px;
  text-decoration:underline;
}
.boxCarrito{
  display: flex;
  flex-direction: rom;
  justify-content:space-around;
  margin: 10px;
  width: 500px;
  font-size: 20px;
  font-weight: bold;
  color: blueviolet;
  
}
.padreCarrito{
    text-align: right;
    width: 500px;
    display: inline-block;
}
.botonCarrito{
  margin-top: 20px;
  height: 50px;
  background-color: black;
  font-size: 20px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  color: blanchedalmond;
}

.formulario{
  
  width: 500px;
  display: inline-block;
}
.cajaFinal{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.comprar{
  
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: rgb(16, 16, 19);
}
.imagCarrito{
  width: 50px;
}

.boxCarrito2{
  display: flex;
  justify-content:space-evenly;
  font-size: 20px;
  text-align: center;
  border: 3px solid rgb(5, 6, 10);
  margin-right: auto;
  margin-right: auto;
 
  width: 500px;
  align-content: center;
  align-items: center;
}
.imgPortada{
  width: 100%;
  height: 70%;
}

.cajaPortada{
  width: 100%;

}

.botonProductos{
  background-color: black;
  border: 2px solid black;
  font-size: 20px;
  border-radius: 10px;
  color: blanchedalmond;
  padding: 5px;
  position: fixed;
  margin-left: -100px;
  margin-top: 420px;  
  
  
  
}

